# Dependencies
node_modules/
package-lock.json
yarn.lock

# Build & test outputs
dist/
out/
coverage/
test-output/
.nyc_output/

# IDE and system files
.idea/
.vscode/
*.swp
.DS_Store

# Environment and logs
.env*
*.log
.npm
.eslintcache

# Keep CLI wrapper
!src/cli.wrapper.js
